sourceCode/WebServAndBPELProcess/WebServerJava/WebContent/wsdl/AuthorsWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://uni.bpel2java" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://uni.bpel2java" xmlns:intf="http://uni.bpel2java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://uni.bpel2java" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getAutographByCognomeEasy">
    <complexType>
     <sequence>
      <element name="aCognome" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getAutographByCognomeEasyResponse">
    <complexType>
     <sequence>
      <element name="getAutographByCognomeEasyReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getAutographByCognomeEasyResponse">

      <wsdl:part element="impl:getAutographByCognomeEasyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getAutographByCognomeEasyRequest">

      <wsdl:part element="impl:getAutographByCognomeEasy" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="AuthorsWS">

      <wsdl:operation name="getAutographByCognomeEasy">

         <wsdl:input message="impl:getAutographByCognomeEasyRequest" name="getAutographByCognomeEasyRequest">

       </wsdl:input>

         <wsdl:output message="impl:getAutographByCognomeEasyResponse" name="getAutographByCognomeEasyResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="AuthorsWSSoapBinding" type="impl:AuthorsWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getAutographByCognomeEasy">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getAutographByCognomeEasyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getAutographByCognomeEasyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="AuthorsWSService">

      <wsdl:port binding="impl:AuthorsWSSoapBinding" name="AuthorsWS">

         <wsdlsoap:address location="http://localhost:8080/JavaWebServer/services/AuthorsWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
