sourceCode/WebServAndBPELProcess/02_BPEL_sayHelloProcess/bpelContent/SayHello.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://uni.bpel2java" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://uni.bpel2java" xmlns:intf="http://uni.bpel2java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://uni.bpel2java" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="greet">
    <complexType>
     <sequence>
      <element name="myInput" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="greetResponse">
    <complexType>
     <sequence>
      <element name="greetReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="greetResponse">

      <wsdl:part element="impl:greetResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="greetRequest">

      <wsdl:part element="impl:greet" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="SayHello">

      <wsdl:operation name="greet">

         <wsdl:input message="impl:greetRequest" name="greetRequest">

       </wsdl:input>

         <wsdl:output message="impl:greetResponse" name="greetResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="SayHelloSoapBinding" type="impl:SayHello">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="greet">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="greetRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="greetResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="SayHelloService">

      <wsdl:port binding="impl:SayHelloSoapBinding" name="SayHello">

         <wsdlsoap:address location="http://localhost:8080/02_JavaWSSayHallo/services/SayHello"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
